<footer>
    <div class="container">
        <div class="row">   
            <div class="col-lg-4">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <a href="https://www.linkedin.com/in/majewski-milosz-developer/"><i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="col-lg-4">
                <h4 class="mt-lg-0 mt-sm-4">Contact</h4>
                <p><i class="fa fa-envelope-o mr-3"></i>majewskimilosz7@gmail.com</p>
            </div>
            <div class="col-lg-4">
                <h4 class="mt-lg-0 mt-sm-4">By Milosz Majewski</h4>
                <p>© 2020 Friendo</p>
            </div>
        </div>  
    </div>
</footer>
