<footer class="footer">
  <nav class="navbar navbar-default navbar-custom">
      <div class="container-fluid">
          <div class="nav navbar-nav navbar-left">
              <ul class="footerleft">
                
                  <li>
                      <a> &copy;Friendo 2020</a>            
                  </li>
                  <li>
                    <a>By Milosz Majewski</a>
               </li>
                  
              </ul>
          </div>

          <div class="text-center center-block">
              <a><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          </div>
          <div class="nav navbar-nav navbar-right">
         
      </div>

      </div>
      
  </nav>
</footer>